* {
	border: none;
	border-radius: 0;
	font-family: "monospace";
	font-size: 15px;
	min-height: 0;
}

window#waybar {
	background: rgba(48,48,59, 0.9);
	color: #ffffff;
}

#window {
	color: #e4e4e4;
	font-weight: bold;
}

#workspaces {
	font-size: 8px;
	padding: 0 2px;
}

#workspaces button {
	padding: 0 5px;
	background: rgba(0, 0, 28, 0.8);
	color: #e7f2f2;
	margin: 0 1px; 
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces button.focused {
	padding: 0 5px;
	background: #00afd7;
	color: #1b1d1e;
	margin: 0 1px;
}

#workspaces button.urgent {
	background: #af005f;
	color: #1b1d1e;
}

#mode {
	background: #af005f;
}

#clock, #custom-jalalidate, #custom-weather, #custom-disk_home, #custom-disk_root, #temperature, #cpu, #memory, #network, #backlight, #pulseaudio, #battery, #tray, #idle_inhibitor {
	padding: 0 3px;
/*	background-color: #000000; */
	background: rgba(0, 0, 28, 0.8);
	margin: 0 2px;
}

#clock {
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #af005f;
    }
}

#battery.warning:not(.charging) {
	background-color: #ff8700;
	color: #1b1d1e;
}
#battery.critical:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

/* #custom-spotify {
    color: rgb(102, 220, 105);
}*/

#tray {
}

