body {
    background-color: #0f0f17 !important;
    color: #efefef !important;
}

#header {

    background-color: #0f0f17 !important;
    clear: both;
    color: #76d9d9 !important;

}
#menu {
    clear: both;
    color: #069;
    overflow: hidden;
    background-color: #186bb9;
    padding: 0.7ex;
    border: 0px !important;
}

a {
	color: #7373ef !important;
}

#header a {
	color: #7373ef !important;
}

#menu a {
	color: #f6ecec !important;
}
