* {
  background-color: #10203060;
  border-color: #6272a4;
  text-color: #f8f8f2;
  font: "Monospace 20";
}

#window {
  background-color: @background-color;
  fullscreen: false;
  border: 3;
  border-color: @border-color;
  width: 30%;
  border-radius: 6;
  padding: 5;
}


#entry {
  expand: true;
  width: 300px;
}

