KERNEL=="BAT0", SUBSYSTEM=="power_supply", ATTR{type}=="Battery", ATTR{charge_control_end_threshold}="60"
# ACTION=="add", KERNEL=="asus-nb-wmi", RUN+="/bin/bash -c 'echo value > /sys/class/power_supply/BAT?/charge_control_end_threshold'"
